

.userStats {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-height: fit-content;
  row-gap: 2rem;
}

.userStats > div {
  flex: 1 1 auto;
  min-width: 150px;
  max-width: fit-content;
  max-height: fit-content;
}

.info p {
  margin: 0;
}

.info {
  padding: 1rem;
}

.highestscore {
  background-color: var(--color4);
}

.n-attempts {
  background-color: var(--color3);
}
.o-star {
  background-color: var(--color2);
}

.info-title {
  font-size: 1.17rem;
  font-weight: 600;
}
.info-data {
  font-size: 6rem;
}



.level-page {
  max-width: 1200px;
  margin: 10 auto;
  padding: 20px;
  text-align: center;
}

.level-page h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.levels-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  gap: 20px; /* Space between buttons */
}

.level-button {
  padding: 30px; /* Larger padding for bigger buttons */
  font-size: 24px; /* Larger font size */
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px; /* Rounded corners */
  transition: background-color 0.3s, transform 0.2s;
}

.level-button:hover {
  background-color: #0056b3;
  transform: scale(1.05); /* Slight zoom effect on hover */
}