/* ===== Global Styles ===== */
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    background-color: #f0f2f5;
    color: #213547;
  }
  
  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }
  
  /* ===== Quiz Page Styles ===== */
 

/* NAVBAR / HEADER */

header {
 
z-index: 25;
  background: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 24px 0.7rem 24px;
  max-width: 1500px;
  margin: 0 auto;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo img {
  width: auto;
  height: 35px;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover {
  text-decoration: underline;
}

/* LEARDERBOARD */
.lb {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10vh 0;
}

.lb-main {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.lbchild {
  background-color: #ddd;
  padding: 1rem;
  border-radius: 12px;
}

/* CompareBoard*/

table {
  width: 600px;
  border-collapse: collapse;
  background-color: #f9f9f9;
}

th,
td {
  padding: 1rem 0;
  text-align: center;
}

th {
  background-color: var(--guhuzu-bg-color);
  color: white;
}
tbody tr {
  cursor: pointer;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

.bodytr.Active {
  background-color: #ddd;
}



/* PROFILE SECTION */
.profile {
  width: 600px;
}

.profile h1 {
  text-align: center;
}

.profile img {
  max-height: 150px;
  border-radius: 50%;
}

.profileinfogroup-1 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.profileinfogroup-2 {
  display: flex; 
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
}

.profileinfogroup-2 div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}