/* ===== Global Styles ===== */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  --guhuza-blue:#0f4c81;
  /* color palette for leaderboard*/
  --color1: #3da5d9;
  --color2: #73bfb8;
  --color3: #fec601;
  --color4: #17eb93;
  --color5: #e5a9a9;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Arial", sans-serif;
}
/* LEARDERBOARD */


.lb {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5vh 0;
  font-size: 1.175rem;
}

.lb-main {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.lbchild.compare {
  border: 1px solid black;
  padding: 1rem;
}

/* CompareBoard*/

caption {
  text-align: left;
}
table {
  width: 400px;
  height: 70vh;
  border-collapse: collapse;
  /* background-color: #f9f9f9; */
}

th,
td {
  padding: 1rem 0;
  text-align: center;
}

th{
  border-bottom: 1px solid black;
}

th {
  background-color: var(--guhuzu-bg-color);
}

tr:not(tr:last-child){
  border-bottom: 1px solid black;
}


tbody tr {
  cursor: pointer;

}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

.bodytr.Active {
  background-color: #ddd;
}

/* th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
 */

/* PROFILE SECTION */
.profile {
  width: 1000px;
}

.profileinfo {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.profileinfo-main {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.props {
  border-radius: 1rem;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 330px;
}

.profile img {
  max-height: 120px;
  align-self: center;
  border-radius: 50%;
}

.profileinfogroup-1 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border: 1px solid black;
  padding: 1rem;
  min-height: 168px;
}

.profileinfo-bio {
  background-color: var(--color3);
  padding: 0 1rem;
}

.tags {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next row */
  gap: 10px;
  padding: 0;
}

.tags li {
  flex: 1 1 auto;
  background-color: white;
  color: #494d52;
  border: 1px solid #3d444d;
  text-align: center;
  border-radius: 1rem;
  padding: 0.2rem 1rem;
}

.userStats {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-height: fit-content;
  row-gap: 2rem;
}

.userStats > div {
  flex: 1 1 auto;
  min-width: 150px;
  max-width: fit-content;
  max-height: fit-content;
}

.info p {
  margin: 0;
}

.info {
  padding: 1rem;
}

.highestscore {
  background-color: var(--color4);
}

.n-attempts {
  background-color: var(--color3);
}
.o-star {
  background-color: var(--color2);
}

.info-title {
  font-size: 1.17rem;
  font-weight: 600;
}
.info-data {
  font-size: 6rem;
}


